<nav class="navbar navbar-expand-lg navbar-light bg-light gap-5 d-none d-md-block">
  <div class="d-flex justify-content-between align-items-center px-5 gap-5">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/png/logo.png" alt="" />
    </a>
    <div
      class="d-flex justify-content-between align-items-center gap-2 border border-secondary p-1 rounded"
    >
      <div>
        <input class="border-0 outline-0" type="text" />
      </div>
      <div class="d-flex justify-content-between align-items-center gap-1">
        <p class="m-0">All categories</p>
        <div><img src="/assets/images/png/down_arrow.png" alt="" /></div>
      </div>
      <div class="d-flex justify-content-between align-items-center pe-2">
        <img src="/assets/images/png/srarch_icon.png" alt="" />
      </div>
    </div>
    <div class="collapse navbar-collapse gap-5">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5">
        <!-- <form class="d-flex d-md-none">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help & support</a>
        </li>
      </ul>
      <div class="d-flex justify-content-right align-items-right me-5">
        <img src="/assets/images/png/social_media.png" alt="" />
      </div>
    </div>
  </div>
</nav>
<div class="d-none d-md-flex justify-content-between gap-5 d-lg-none">
      <ul class="d-flex mb-2 mb-lg-0 gap-5">
        <!-- <form class="d-flex d-md-none">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <div class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About us</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="#">Help & support</a>
        </div>
      </ul>
      <div class="d-flex justify-content-right align-items-right me-5">
        <img src="/assets/images/png/social_media.png" alt="" />
      </div>
    </div>
<!-- 2 -->
<nav class="navbar navbar-light bg-dark gap-5 d-none d-md-block">
  <div class="d-flex justify-content-between align-items-center px-5 gap-5">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/png/category.png" alt="" />
    </a>
    <div class="d-flex gap-5" id="navbarSupportedContent">
      <ul class="d-flex me-auto mb-2 mb-lg-0 gap-2 gap-lg-5">
        <div class="d-flex justify-content-between align-items-center gap-1">
          <p class="m-0 text-white">USD</p>
          <div>
            <img src="/assets/images/png/down_arrow-white.png" alt="" />
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center gap-1">
          <p class="m-0 text-white">English</p>
          <div>
            <img src="/assets/images/png/down_arrow-white.png" alt="" />
          </div>
        </div>
      </ul>
      <div
        class="d-flex align-items-center justify-content-center gap-3 border-end border-start me-5 px-2 d-md-none d-lg-flex"
      >
        <div>
          <img src="/assets/images/png/trimmer.png" alt="" />
        </div>
        <div>
          <h6 class="m-0 text-white fs-4 fw-bolder">
            Weekly Men's Toiletries Coupons.
          </h6>
          <p class="m-0 text-white fs-6 fst-normal">
            We extend exclusive discounts to our male clientele
          </p>
        </div>
      </div>
    </div>
    <div
      class="d-flex align-items-center justify-content-center gap-lg-3 me-5 px-2"
    >
      <div>
        <img src="/assets/images/png/signin_icon.png" alt="" />
      </div>
      <div>
        <img src="/assets/images/png/favorites_icon.png" alt="" />
      </div>
      <div class="d-flex gap-2">
        <img src="/assets/images/png/card_icon.png" alt="" />
        <img src="/assets/images/png/count_icon.png" alt="" />
      </div>
    </div>
  </div>
</nav>

<!-- mob -->
<div
  class="bg-white d-flex justify-content-between align-items-center d-md-none d-lg-none px-5 gap-5 pt-3"
>
<div class="d-flex gap-2">
    <img onclick="Menu()" id="img-change" src="/assets/images/png/menu_icon.png" alt="" />
   
  </div>
  <a class="navbar-brand" href="#">
    <img style="width: 100px;" src="/assets/images/png/logo.png" alt="" />
  </a>
  <div class="d-flex gap-2">
    <img src="/assets/images/png/card_icon_sm.png" alt="" />
    <img src="/assets/images/png/count_icon.png" alt="" />
  </div>
  
</div>
<div
      class="d-flex justify-content-between align-items-center gap-2 border border-secondary p-1 rounded mx-2 mt-3 d-md-none"
    >
      <div>
        <input class="border-0 outline-0" type="text" />
      </div>
      <div class="d-flex justify-content-between align-items-center gap-1">
        <p class="m-0">All categories</p>
        <div><img src="/assets/images/png/down_arrow.png" alt="" /></div>
      </div>
      <div class="d-flex justify-content-between align-items-center pe-2">
        <img src="/assets/images/png/srarch_icon.png" alt="" />
      </div>
    </div>
 <div class="position-absolute bottum-50 bg-white w-100 py-5" id="show-menu" style="display: none; z-index: 1;">
    <ul class="">
        <div class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About us</a>
        </div>
        <div class="nav-item mt-3">
          <a class="nav-link" href="#">Blog</a>
        </div>
        <div class="nav-item mt-3">
          <a class="nav-link" href="#">Contact us</a>
        </div>
        <div class="nav-item mt-3">
          <a class="nav-link" href="#">Help & support</a>
        </div>
      </ul>
  </div>
<script is:inline>
function Menu () {
  const show = document.getElementById("show-menu");
  show.style.display = (show.style.display === "none") ? "block" : "none";

  const img = document.getElementById("img-change");
  img.src = (show.style.display === "none") ? "/assets/images/png/menu_icon.png" : "/assets/images/png/menu_close_icon.png";
}
</script>
